html, body {
    width: 100%;
    height: 100%;
}

li{
    font-weight: bold;
    text-align: center;
}
.style1 a {
    color: white;
    text-decoration: none;
}
.style1 a:hover,
.style1 a:focus {
    color: lightgrey;
    text-decoration: none;
}

.home {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    background: #eee ;
}

.diplomes {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff ;
}

.experiences {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 70px;
    background: #eee;
    padding-bottom: 40px;
}

.competences {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    background: #fff ;
}

.realisations {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    text-align: center;
    padding-top: 70px;
    background: #eee;
    padding-bottom: 40px;
}

.certifications {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 70px;
    padding-bottom: 40px;
    background: #fff ;
}

.contact {
    min-height: 100%;
    height: auto;
    min-width: 100%;
    width: auto;
    padding-top: 70px;
    text-align: center;
    background: #EEEEEE;
    padding-bottom: 40px;
}

.connection {
    min-height: 100%;
    height: auto;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 40px;
    background: #eee;
}

.register{
    max-height: 100%;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    padding-bottom: 40px;
    background: #eee ;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 50px;
    min-width: 100%;
    width: auto;
}

h3{
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

.title{
    text-decoration: underline;
}

.formM{
    padding-top: 20px;
}

.active{
    color: Black;
}

.article{
    margin-top: 40px;
    margin-bottom: 40px;
}

.Article{
    background: #EEEEEE;
}
